<div class="container mt-5">
  <h3 style="text-align: center">Quiz</h3>
  <div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center">
        Click the button below to start the test!
      </h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <div class="row justify-content-md-center">
        <div class="col-sm-12 col-lg-3">
          <button
            class="btn btn-block btn-outline-primary cursor-restriction"
            style="margin-top: 24px"
            (click)="startQuiz()"
          >
            Start Quiz
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
